<div class="profile-container" *ngIf="user">
  <div class="gegevens">
    <h2>Account gegevens</h2>
    <textinput
      [value]="user.firstName"
      [disabled]="true"
      [label]="'Voornaam'"
    ></textinput>
    <textinput
      [value]="user.lastName"
      [disabled]="true"
      [label]="'Achternaam'"
    ></textinput>
    <textinput
      [value]="user.email"
      [disabled]="true"
      [label]="'E-mailadres'"
    ></textinput>
    <button (click)="deleteUser()">Verwijder je account</button>
  </div>
  <div class="changepass">
    <h2>Wijzig je wachtwoord</h2>
    <input type="password" [(ngModel)]="newPassword1" placeholder="Nieuwe wachtwoord" />
    <input type="password" [(ngModel)]="newPassword2" placeholder="Bevestig wachtwoord" />
    <button (click)="changePassword()" class="changepassbtn">Verander wachtwoord</button>
    <div *ngIf="show">
      <p *ngIf="succes">Password updated!</p>
      <p *ngIf="!succes">Something went wrong</p>
    </div>
  </div>
</div>
