<div class="profile-container" *ngIf="user">
  <div class="gegevens">
    <h2>Account gegevens</h2>
    <textinput
      [value]="user.firstName"
      [disabled]="true"
      [label]="'Voornaam'"
    ></textinput>
    <textinput
      [value]="user.lastName"
      [disabled]="true"
      [label]="'Achternaam'"
    ></textinput>
    <textinput
      [value]="user.email"
      [disabled]="true"
      [label]="'E-mailadres'"
    ></textinput>
    <p>Verwijderen van uw gegevens kan worden aangevraagd via test@test.com</p>
    <button (click)="deleteUser()">Verwijder je account</button>
  </div>
  <div class="changepass">
    <h2>Wijzig je wachtwoord</h2>
    <input placeholder="Huidige wachtwoord" />
    <input placeholder="Nieuwe wachtwoord" />
    <input placeholder="Bevestig wachtwoord" />
    <button class="changepassbtn">Verander wachtwoord</button>
  </div>
</div>
