<div class="register-container">
  <div class="header">
    <p class="registertext">Register</p>
  </div>

  <div class="form">
    <form class="example-form">
      <input
        type="text"
        placeholder="First name"
        [(ngModel)]="firstName"
        id="firstName"
        name="firstName"
        [value]="firstName"
        required
      />
      <input
        type="text"
        placeholder="Last name"
        [(ngModel)]="lastName"
        id="lastName"
        name="lastName"
        [value]="lastName"
        required
      />
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        id="username"
        name="username"
        [value]="username"
        required
      />

      <input
        type="text"
        placeholder="Email address"
        [(ngModel)]="email"
        id="email"
        name="email"
        [value]="email"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        id="password"
        name="password"
        [value]="password"
        required
      />

      <input
        type="password"
        placeholder="Confirmation password"
        [(ngModel)]="passwordConfirm"
        id="passwordConfirm"
        name="passwordConfirm"
        [value]="passwordConfirm"
        required
      />

      <input
        type="checkbox"
        placeholder="Confirmation password"
        [(ngModel)]="privacyConfirm"
        id="privacyConfirm"
        name="privacyConfirm"
        [value]="privacyConfirm"
        required
      />
      <p>Accept <a href="">privacy policy</a></p>
      <button class="register-button"(click)="register()">Register</button>
    </form>
  </div>
  <div *ngIf="show">
    <p style="color: red">{{message}}</p>
  </div>
  <p class="registertext">
    Already have an account? Click
    <a (click)="login()" class="here">here</a> to Login.
  </p>
</div>
