<div class="register-container">
  <div class="header">
    <p class="registertext">Register</p>
  </div>

  <div class="form">
    <form class="example-form">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        id="customerCode"
        name="customerCode"
        [value]="username"
        required
      />

      <input
        type="text"
        placeholder="Email address"
        [(ngModel)]="email"
        id="email"
        name="email"
        [value]="email"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        id="password"
        name="password"
        [value]="password"
        required
      />

      <input
        type="password"
        placeholder="Confirmation password"
        [(ngModel)]="passwordConfirm"
        id="passwordConfirm"
        name="passwordConfirm"
        [value]="passwordConfirm"
        required
      />
    </form>
    <button class="register-button"(click)="register()">Register</button>
  </div>
</div>
